apiVersion: v1
kind: Secret
metadata:
  name: alertmanager-monitoring-kube-prometheus-alertmanager
  namespace: monitoring
stringData:
  alertmanager.yaml: |
    global:
      resolve_timeout: 5m
      smtp_smarthost: 'smtp.gmail.com:587'
      smtp_from: 'carmenciubancan7@gmail.com'
      smtp_auth_username: 'carmenciubancan7@gmail.com'
      smtp_auth_password: '..........'
      smtp_require_tls: true
    
    route:
      group_by: ['alertname', 'cluster', 'service']
      group_wait: 10s
      group_interval: 10s
      repeat_interval: 12h
      receiver: 'email-receiver'
    
    receivers:
      - name: 'email-receiver'
        email_configs:
          - to: 'carmenciubancan7@gmail.com'
            send_resolved: true